<!-- Start your project here-->
<div style="height: 100vh">
  <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"> <mdb-icon fas icon="credit-card"></mdb-icon> Payment</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" [class.active] = "this.currentRoute == '/'" routerLink = "/">
              <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
            <button mdbButton class="btn btn-danger" (click) = "reset()">Reset card state</button>
          </li>

      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
  <div class="flex-center flex-column" *ngIf = "currentRoute == '/'">
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body class="text-center">
          <!--Title-->
          <mdb-card-title>
            <h4>Make payment</h4>
          </mdb-card-title>

          <!--Text-->
          <div *ngIf = "card" class="border text-left p-2">
            <div *ngFor = "let val of card">
              <p><small class="font-weight-bold">Card number:</small> <small>{{val.cardNumber}}</small> </p> 
              <p><small class="font-weight-bold">Card holder:</small> <small>{{val.cardHolder}}</small> </p>
              <p><small class="font-weight-bold">Expiration date:</small> <small>{{val.expirationDate | date}}</small> </p> 
              <p><small class="font-weight-bold">Security code:</small> <small>{{val.CCV}}</small> </p>
              <p><small class="font-weight-bold">Amount:</small> <small>{{val.amount}}</small></p> 
            </div>
            <small>Sample card data above will be replaced by card data entered on the payment page</small>
          </div>
          <!-- <a href="#" mdbBtn color="primary" class="text-center" mdbWavesEffect>Button</a> -->
          <button mdbBtn class="btn btn-primary btn-round" style="border-radius: 25px;" routerLink = "/payment">
            Proceed to payment <mdb-icon fas icon="arrow-right" class="ml-1"></mdb-icon>
          </button>
        </mdb-card-body>
      </mdb-card>
  </div>
  <router-outlet></router-outlet>
</div>
<!-- /Start your project here-->